<% flash.each do |key, value| %>
  <div class="alert alert-warning"><%= value %></div>
<% end %>

<div class="wrapper-white">
  <div class="results-count">
    <h2>Dans la catégorie "<%= @theme.title %>" (<%= pluralize @theme.categories.count, "résultat" %>)</h2>
  </div>
  <div class="results-list-head">
    <div class="results-list">

      <% if @article_formatted_links.count != 0 %>
        <div class="results-theme">
          <h6>Les articles (<%= pluralize @article_formatted_links.count, "résultat" %>)</h6>
        </div>
        <div id="accordion">
          <% @keywords.order('title ASC').each do |k| %>
            <% if @article_formatted_links.count { |ls| ls.keywords.include?(k) } != 0 %>
              <div class="card">
                <div class="card-header" id="heading-article<%= k.id %>">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-article<%= k.id %>" aria-expanded="true" aria-controls="collapse-article<%= k.id %>"><%= k.title %></button>
                  </h5>
                </div>
                <div id="collapse-article<%= k.id %>" class="collapse" aria-labelledby="heading-article<%= k.id %>" data-parent="#accordion">
                  <div class="card-body">
                    <% k.tags.each do |kt| %>
                      <% if kt.link.keywords.include?(k) && kt.link.themes.include?(@theme) %>
                        <div class="results-article">
                          <div class="results-article-title">
                            <h6><%= kt.link.publication %>
                              <% unless kt.link.date.nil? %>
                                , <%= kt.link.date %>
                              <% end %>
                            </h6>
                            <br>
                            <div class="marg-title">
                              <%= link_to kt.link.url, target: "_blank", class: "results-article-link" do %>
                                <h1><%= kt.link.title %></h1>
                              <% end %>
                            </div>
                          </div>
                          <p><%= kt.link.description %></p>
                          <p class="results-article-note">Avis de l'équipe : <%= kt.link.note %></p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @livre_formatted_links.count != 0 %>
        <div class="results-theme">
          <h6>Les livres (<%= pluralize @livre_formatted_links.count, "résultat" %>)</h6>
        </div>
        <% @livre_formatted_links.each do |l| %>
          <div class="results-article">
            <div class="results-article-title">
              <h6><%= l.publication %>
                <% unless l.date.nil? %>
                  , <%= l.date %>
                <% end %>
              </h6>
              <div class="marg-title">
                <%= link_to l.url, target: "_blank", class: "results-article-link" do %>
                  <h1><%= l.title %></h1>
                <% end %>
              </div>
            </div>
            <p><%= l.description %></p>
            <p class="results-article-note">Avis de l'équipe : <%= l.note %></p>
          </div>
        <% end %>
      <% end %>

      <% if @association_formatted_links.count != 0 %>
        <div class="results-theme">
          <h6>Les associations (<%= pluralize @association_formatted_links.count, "résultat" %>)</h6>
        </div>
        <div id="accordion">
          <% @keywords.order('title ASC').each do |k| %>
            <% if @association_formatted_links.count { |ls| ls.keywords.include?(k) } != 0 %>
              <div class="card">
                <div class="card-header" id="heading-association-<%= k.id %>">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-association-<%= k.id %>" aria-expanded="true" aria-controls="collapse-association-<%= k.id %>"><%= k.title %></button>
                  </h5>
                </div>
                <div id="collapse-association-<%= k.id %>" class="collapse" aria-labelledby="heading-association-<%= k.id %>" data-parent="#accordion">
                  <div class="card-body">
                    <% k.tags.each do |kt| %>
                      <% if kt.link.keywords.include?(k) && kt.link.themes.include?(@theme) %>
                        <div class="results-article">
                          <div class="results-article-title">
                            <%= link_to kt.link.url, target: "_blank", class: "results-article-link" do %>
                              <h4><%= kt.link.title %></h4>
                            <% end %>
                            <h6>/ publié par <%= kt.link.publication %>
                              <% unless kt.link.date.nil? %>
                                , <%= kt.link.date %></h6>
                              <% end %>
                          </div>
                          <p><%= kt.link.description %></p>
                          <p class="results-article-note">Avis de l'équipe : <%= kt.link.note %></p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
