<div class="wrapper-white">
  <div class="results-count">
    <h2>Dans la catégorie "<%= @theme.title %>" (<%= pluralize @theme.categories.count, "résultat" %>)</h2>
  </div>
  <div class="results-list-head">
    <div class="results-list">

      <div class="results-theme">
        <% if @theme.title == "ressources" %>
          <% @ressources.order('title ASC').each do |rl| %>
            <div class="results-article">
              <div class="results-article-title">
                <%= link_to rl.url, target: "_blank", class: "results-article-link" do %>
                  <h4><%= rl.title %></h4>
                <% end %>
                <h6>/ publié par <%= rl.publication %>
                  <% unless rl.date.nil? %>
                    , <%= rl.date %></h6>
                  <% end %>
              </div>
              <p><%= rl.description %></p>
              <p class="results-article-note">Avis de l'équipe : <%= rl.note %></p>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if @information_formatted_links.count != 0 %>
        <div class="results-theme">
          <h6>Les fiches d'informations générales (<%= pluralize @information_formatted_links.count, "résultat" %>)</h6>
        </div>
        <div id="accordion">
          <% @keywords.order('title ASC').each do |k| %>
            <% if @information_formatted_links.count { |ls| ls.keywords.include?(k) } != 0 %>
              <div class="card">
                <div class="card-header" id="heading-<%= k.id %>">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-<%= k.id %>" aria-expanded="true" aria-controls="collapse-<%= k.id %>"><%= k.title %></button>
                  </h5>
                </div>
                <div id="collapse-<%= k.id %>" class="collapse" aria-labelledby="heading-<%= k.id %>" data-parent="#accordion">
                  <div class="card-body">
                    <% k.tags.each do |kt| %>
                      <% if kt.link.keywords.include?(k) && kt.link.themes.include?(@theme) %>
                        <div class="results-article">
                          <div class="results-article-title">
                            <%= link_to kt.link.url, target: "_blank", class: "results-article-link" do %>
                              <h4><%= kt.link.title %></h4>
                            <% end %>
                            <h6>/ publié par <%= kt.link.publication %>
                              <% unless kt.link.date.nil? %>
                                , <%= kt.link.date %></h6>
                              <% end %>
                          </div>
                          <p><%= kt.link.description %></p>
                          <p class="results-article-note">Avis de l'équipe : <%= kt.link.note %></p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @article_formatted_links.count != 0 %>
        <div class="results-theme">
          <h6>Les articles (<%= pluralize @article_formatted_links.count, "résultat" %>)</h6>
        </div>
        <div id="accordion">
          <% @keywords.order('title ASC').each do |k| %>
            <% if @article_formatted_links.count { |ls| ls.keywords.include?(k) } != 0 %>
              <div class="card">
                <div class="card-header" id="heading-<%= k.id %>">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-<%= k.id %>" aria-expanded="true" aria-controls="collapse-<%= k.id %>"><%= k.title %></button>
                  </h5>
                </div>
                <div id="collapse-<%= k.id %>" class="collapse" aria-labelledby="heading-<%= k.id %>" data-parent="#accordion">
                  <div class="card-body">
                    <% k.tags.each do |kt| %>
                      <% if kt.link.keywords.include?(k) && kt.link.themes.include?(@theme) %>
                        <div class="results-article">
                          <div class="results-article-title">
                            <%= link_to kt.link.url, target: "_blank", class: "results-article-link" do %>
                              <h4><%= kt.link.title %></h4>
                            <% end %>
                            <h6>/ publié par <%= kt.link.publication %>
                              <% unless kt.link.date.nil? %>
                                , <%= kt.link.date %></h6>
                              <% end %>
                          </div>
                          <p><%= kt.link.description %></p>
                          <p class="results-article-note">Avis de l'équipe : <%= kt.link.note %></p>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if @livre_formatted_links.count != 0 %>
        <div class="results-theme">
          <h6>Les livres (<%= pluralize @livre_formatted_links.count, "résultat" %>)</h6>
        </div>
        <% @livre_formatted_links.each do |l| %>
          <div class="results-article">
            <div class="results-article-title">
              <%= link_to l.url, target: "_blank", class: "results-article-link" do %>
                <h4><%= l.title %></h4>
              <% end %>
              <h6>/ publié par <%= l.publication %>
                <% unless l.date.nil? %>
                  , <%= l.date %></h6>
                <% end %>
            </div>
            <p><%= l.description %></p>
            <p class="results-article-note">Avis de l'équipe : <%= l.note %></p>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
