<nav class="navbar navbar-expand-lg extra-pad">
  <div class="navbar-left">
    <%= link_to root_path do %>
      <%= image_tag asset_path("logo.png"), class: "logo-navbar" %>
    <% end %>
  </div>


  <div class="navbar-over-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-right collapse navbar-collapse nb-rgt-coll-desktop" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% @themes.order('created_at ASC').each do |t| %>
          <div class="item-navbar-right-pink">
            <%= link_to theme_path(t.title) do %>
              <h6><%= t.title %></h6>
            <% end %>
          </div>
        <% end %>
        <div class="item-navbar-right-grey">
          <%= link_to monprojet_path do %>
            <h6>mon projet</h6>
          <% end %>
        </div>
      </div>
    </div>
    <div class="item-navbar-right-black">
      <%= form_tag results_path, method: :get do %>
        <div class="select-navbar">
          <%= select_tag :format,
            options_for_select(@format, params[:format]),
            class: "dropdown-navbar",
            prompt: "Un format?"
          %>
        </div>
        <%= text_field_tag :query,
          params[:query],
          autocomplete: "off",
          class: "searchbar-medium",
          placeholder: "Un mot-clé ?"
        %>
        <%= button_tag(type: "button", class: "btn btn-default search-button-js transparent-background") do %>
          <i class="fas fa-search"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</nav>
<div class="search-nav">
  <%= form_tag results_path, method: :get do %>
    <div class="select">
      <%= select_tag :format,
        options_for_select(@format, params[:format]),
        class: "dropdown-home",
        prompt: "Un format ?"
      %>
    </div>
    <%= text_field_tag :query,
      params[:query],
      autocomplete: "off",
      class: "searchbar-big",
      placeholder: "Rechercher un mot-clé"
    %>
    <%= button_tag(type: "submit", class: "btn btn-default search-button") do %>
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>
</div>
<nav class="navbar-right collapse navbar-collapse nb-rgt-coll-mobile" id="navbarNavAltMarkup">
  <div class="navbar-nav">
    <% @themes.order('created_at ASC').each do |t| %>
      <div class="item-navbar-right-pink">
        <%= link_to theme_path(t.title) do %>
          <h6><%= t.title %></h6>
        <% end %>
      </div>
    <% end %>
    <div class="item-navbar-right-grey">
      <%= link_to monprojet_path do %>
        <h6>mon projet</h6>
      <% end %>
    </div>
  </div>
</nav>


