<div class="wrapper-pink">
  <div class="container">
    <div class="centered-container">
      <div class="catchphrase-big text-center">
        <h3>Et si rechercher sa maladie sur Internet n'était plus un tabou ?</h3>
      </div>
      <div class="searchbar">
        <%= form_tag results_path, method: :get do %>
         <!--  <div class="select"> -->
            <%#= select_tag :format,
              options_for_select(@format, params[:format]),
              class: "dropdown-home",
              prompt: "Un format ?"
            %>
          <!-- </div> -->
          <!-- <div class="select"> -->
            <%#= collection_select :query, :query, Keyword.all, :title, :title, prompt: "Un mot-clé ?" %>
          <!-- </div> -->
          <%#= text_field_tag :query,
            params[:query],
            class: "searchbar-big",
            placeholder: "Un mot-clé ?"
          %>
          <div class="select">
            <%= select_tag :query,
            options_from_collection_for_select(@keywords, :title,:title , params[:query]),
            class: "dropdown-keyword-home",
            prompt: "Je veux me renseigner sur ..."
            %>
          </div>
          <%= hidden_field_tag(:format, 'all') %>
          <%= button_tag(type: "submit", class: "btn btn-default search-button") do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>

        <% flash.each do |key, value| %>
          <div class="alert alert-warning"><%= value %></div>
        <% end %>
<!--         <div class="tips text-center">
          <p>Exemples : radiothérapie, douleurs, perruques, HER2+ ...</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="wrapper-white-top">
  <h2>Liens récemment ajoutées</h2>
  <div class="results-total-last">
    <% @links.last(5).each do |l| %>
      <div class="results-last">
        <span class="results-last-format"><%= l.format %></span>
        <h5>
          <%= link_to l.url do  %>
            <%= l.title %> de <%= l.publication %>
          <% end %>
        </h5>
        <p><%= l.note %></p>
      </div>
    <% end %>
  </div>
</div>
