<div class="wrapper-white">
  <div class="results-count">
    <h2><%= @link_search.total_count %> résultats trouvés pour "<%= params[:query] %>"</h2>
  </div>

  <div class="results-list">
    <div class="results-list-head">
      <% @themes.each do |t| %>
        <div class="results-theme">
          <h6>Dans la catégorie "<%= t.title %>" (<%= pluralize @link_search.results.count { |ls| ls.themes.include?(t) }, "résultat" %>)</h6>

        </div>
        <% @link_search.each do |ls| %>
          <% ls.themes.each do |lst| %>
            <% if t == lst %>
              <div class="results-article">
                <div class="results-article-title">
                  <h4><%= ls.title %></h4>
                  <h6>/ publié par <%= ls.publication %>
                    <% unless ls.date.nil? %>
                      , <%= ls.date %></h6>
                    <% end %>
                </div>
                <p><%= ls.description %></p>
                <p class="results-article-note">Avis de l'équipe : <%= ls.note %></p>
              </div>
            <% end %>
          <% end %>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
