<div class="wrapper-white">
  <div class="results-count">
    <h2><%= pluralize @link_search.total_count, "résultat" %> pour "<%= params[:query] %>" en format "<%= params[:format] %>"</h2>
  </div>
  <div class="results-list">
    <div class="results-list-head">
      <% @themes.each do |t| %>
        <% if @link_search.results.count { |ls| ls.themes.include?(t) } != 0 %>
          <div class="results-theme">
            <h6>Dans la catégorie "<%= t.title %>" (<%= pluralize @link_search.results.count { |ls| ls.themes.include?(t) }, "résultat" %>)</h6>
          </div>

          <% @link_search.sort.each do |ls| %>
            <% ls.themes.each do |lst| %>
              <% if t == lst %>
                <div class="results-article">
                  <div class="results-article-title">
                    <%= link_to ls.url, target: "_blank", class: "results-article-link" do %>
                      <h4><%= ls.title %></h4>
                    <% end %>
                    <h6>/ publié par <%= ls.publication %>
                      <% unless ls.date.nil? %>
                        , <%= ls.date %></h6>
                      <% end %>
                  </div>
                  <p><%= ls.description %></p>
                  <p class="results-article-note">Avis de l'équipe : <%= ls.note %></p>
                </div>
              <% end %>
            <% end %>
          <% end %>

        <% end %>
      <% end %>
    </div>
  </div>
</div>




